{% extends 'index.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card mb-3">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid rounded-top" alt="{{product.name}}">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      <p class="card-text">Price: {{product.price}}</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated {{product.updated_at}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}