{% extends 'index.html' %}
{% block title %}Product List{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1 class="mb-3">Product List:</h1>
        <ol class="list-group">
            {% for p in products %}
                <a href="{% url 'product_app:detail' p.id %}" class="text-decoration-none">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{p.name}}</div>
                        </div>
                    </li>
                </a>
            {% endfor %}
          </ol>
    </div>
{% endblock %}