<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid my-2">
      <a class="navbar-brand" href="#">Mero Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{my_blog}}" aria-current="page" href="{% url 'blog_app:all_blog' %}">My Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{create_post}}" href="{% url 'blog_app:create' %}">Create Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{other_blog}}" href="{% url 'blog_app:otherblog' %}">Others Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'blog_app:logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>